
<% if flash[:error] %>
  <div class="notice"><%= flash[:error] %></div>
<% end %>

<h1>Pay per Request (ppr) demo.</h1>


<p>Each request costs 1 iota.</p>

<p>Press the button below, to pay the price and get to the secret area.</p>

<p>Current available IOTA in the pot: <%= @balance %></p>

<p>You can spend some iota to this address, but care - all others can also use the iota to pay requests.</p>
<p>Donations address</p>
<p><%= @account.latestAddress %></p>
<p>Lets go!</p>

<%= link_to "paid area", paid_area_index_path %>
